.contenedor {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: white;
}
.title-header {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}
.title-header img {
  width: 60px;
}
.title-detalle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.title-detalle-1 {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 1.3rem;
}
.title-detalle-2 {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(93, 93, 93);
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 0.9rem;
}
.perfil {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.perfil-usu {
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 10px;
}
.perfil-usu-nombre {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 1.2rem;
}
.perfil-usu-rol {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(93, 93, 93);
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 0.7rem;
}
.logout {
  margin-right: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.logout img {
  width: 25px;
  cursor: pointer;
}

.navbar {
  width: 20%;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  box-shadow: -70px -37px 10px -73px rgba(0, 0, 0, 0.54) inset;
  -webkit-box-shadow: -70px -37px 10px -73px rgba(0, 0, 0, 0.54) inset;
  -moz-box-shadow: -70px -37px 10px -73px rgba(0, 0, 0, 0.54) inset;
  background-color: rgba(255, 255, 255, 0);
}
.page {
  margin-top: 1%;
  width: 80%;
  height: 87%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.menu_icono {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.menu_icono img {
  width: 40px;
  height: 40px;
}
.menu_titulo {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  color: rgb(0, 0, 0);
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 1.1rem;
}
.active {
  color: rgb(141, 77, 44);
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 1.4rem;
  background: #ecd7c4;
  border-radius: 10px;
  box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
  -webkit-box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
  -moz-box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
}
.menu:has(:active) {
  font-family: var(--font-principal);
  font-weight: var(--espaciado);
  font-style: var(--stilo);
  letter-spacing: var(--espacio-letra);
  font-size: 1.4rem;
  transition: 0.1s;
}
.menu:hover {
  border-radius: 10px;
  box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
  -webkit-box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
  -moz-box-shadow: 8px 7px 21px 1px rgba(140, 140, 140, 1);
  transition: all 0.3s ease-in-out;
}
