.cont {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    278deg,
    rgba(94, 110, 217, 1) 0%,
    rgba(97, 89, 183, 1) 32%,
    rgba(101, 75, 158, 1) 71%,
    rgba(101, 70, 150, 1) 97%
  );
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(175, 173, 173, 0.2);
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgba(175, 173, 173, 0.2);
}
