.cont {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    278deg,
    rgba(94, 110, 217, 1) 0%,
    rgba(97, 89, 183, 1) 32%,
    rgba(101, 75, 158, 1) 71%,
    rgba(101, 70, 150, 1) 97%
  );
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_p1 {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.cont_p1_p1 {
  width: 23%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 45px;
}
.cont_p1_p2 {
  width: 361px;
  height: 380px;
}
.cont_p1_p3 {
  width: 23%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 45px;
}

.cont_p1_p2 img {
  width: 360px;
  height: 360px;
  animation: flotar 3s infinite ease-in-out;
  background-color: rgb(244, 247, 249);
  border-radius: 10%;
}
.cont_p1_p1 img {
  width: 50px;
  height: 50px;
  animation: flotar2 2.5s infinite ease-in-out;
  background-color: rgb(244, 247, 249);
  border-radius: 20%;
}

.cont_p1_p3 img {
  width: 50px;
  height: 50px;
  animation: flotar3 2.1s infinite ease-in-out;
  background-color: rgb(244, 247, 249);
  border-radius: 20%;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flotar2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flotar3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}
.cont_p2 {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.cont_p2 .cont_p2_p1 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_p2 .cont_p2_p2 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_p2 .cont_p2_p3 {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont_p2 .cont_p2_p1 p {
  margin: 0%;
  padding: 0%;
  border: 0%;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 6rem;
}
.cont_p2 .cont_p2_p2 p {
  margin: 0%;
  padding: 0%;
  border: 0%;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  margin-top: 15px;
}
.cont_p2 .cont_p2_p3 p {
  margin: 0%;
  padding: 0%;
  border: 0%;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9rem;
  margin-top: 15px;
  letter-spacing: 0.1em;
}
.cont_p3 {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
